
<!-- 
<ul>

    <li *ngFor="let item of resultados" >
        {{item.title}}
    </li>
</ul>

  -->


  <div class="row">
    <div class="col-md-4 col-md-6"  *ngFor="let item of resultados" >

        <div class="card">
            <img [src]="item.images.downsized_medium.url" [alt]="item.title" class="card-img-top animate__bounceIn" >
            <div class="card-body">
                <p class="card-text">
                  {{item.title}} 
                </p>
            </div>    
        </div>

    </div>
  </div>